# Git repo
.git
.gitignore

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
.env

# Local artifacts
*.log

# OS files
.DS_Store
Thumbs.db

# Node (ako se pojavi frontend folder)
node_modules/

# Docker build artefakti
*.tar
